.banner {
    color: white;
    object-fit: contain;
    height: 448px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.1rem;
    /* Slightly larger for readability */
    max-width: 400px;
    /* Increased max-width */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    font-weight: 500;
}

.banner__buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.banner__button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.8rem 2rem 0.8rem 1.6rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.1rem;
}

.banner__button:hover {
    opacity: 0.8;
}

/* Play Button: White bg, Black text */
.banner__button--play {
    background-color: white;
    color: black;
}

.banner__button--play:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

/* Info Button: Gray transparent bg, White text */
.banner__button--info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.banner__button--info:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.banner__icon {
    width: 28px;
    /* Adjustable icon size */
    height: 28px;
}

.banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #141414);
    position: absolute;
    bottom: 0;
    width: 100%;
}